<h4>Select a date filter :</h4> <br>
  <my-date-picker name="mydate" [options]="myDatePickerOptions"
                  (ngModelChange)="onChange($event)"
                  [ngModel]="model" required></my-date-picker>


  <div id="systemsChart"></div>
