<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" routerLinkActive="active">Welcome</a></li>
          <li><a routerLink="/listSystems" routerLinkActive="active">Operating systems</a></li>
          <li><a routerLink="/listBrowsers" routerLinkActive="active">Browsers</a></li>
          <li><a routerLink="/listCountries" routerLinkActive="active">Countries</a></li>
          <li><a routerLink="/listDevices" routerLinkActive="active">Devices</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!-- routing here -->
    <router-outlet></router-outlet>
  </div>
</div>
