<div id="container">
  <span id="name">Firas Koubàa</span><br>
  <span id="speciality" >&nbsp;ANGULAR / NODE Developer&nbsp;<br></span>
  <br>+216 97 477 578
  <br>firass.koubaa@gmail.com
  <br><a href="https://www.firas-koubaa.tn">www.firas-koubaa.tn</a>
  <p><br></p>
  <div id="networks">
    <a href="#" target="_blank">
      <img src="http://m-e.co.il/wp-content/themes/ozd/svg/Facbook.svg" alt="" data-toggle="tooltip"
           data-placement="top" data-original-title="facebook" width="23px">
    </a>
    <a href="#" target="_blank">
      <img src="http://m-e.co.il/wp-content/themes/ozd/svg/Instagram.svg" alt="" data-toggle="tooltip"
           data-placement="top" data-original-title="Instagram" width="23px">
    </a>
    <a href="#" target="_blank">
      <img src="http://m-e.co.il/wp-content/themes/ozd/svg/MyDay.svg" alt="" data-toggle="tooltip" data-placement="top"
           data-original-title="My Day" width="23px">
    </a>
    <a href="#" target="_blank">
      <img src="http://m-e.co.il/wp-content/themes/ozd/svg/Urban.svg" alt="" data-toggle="tooltip" data-placement="top"
           data-original-title="Urban Brides" width="23px">
    </a>
    <a href="#" target="_blank">
      <img src="http://m-e.co.il/wp-content/themes/ozd/svg/Wedding.svg" alt="" data-toggle="tooltip"
           data-placement="top" data-original-title="Wed. Reviews" width="23px">
    </a>
    <a href="#" target="_blank">
      <img src="http://m-e.co.il/wp-content/themes/ozd/svg/Talking.svg" alt="" data-toggle="tooltip"
           data-placement="top" data-original-title="Talking Weddings" width="23px">
    </a>
  </div>
</div>
