#container{
  text-align: center;
  margin-right:auto;
  margin-left:auto;
  font-weight:lighter;
}

#name{
  font-size: 25px;
}

#speciality{
  font-size: 20px;
  background:black;
  color:white
}

#networks{
  margin-left:auto;
  margin-right:auto;
}
